div{border: solid; width: 200px; min-width: 10px;}
.a{border: dotted; container-type: inherit; max-width: 100px; }
.b{border: 2px solid; min-height: 20px;}
.c{border: 2px dotted ; max-height: fit-content; }
td,tr{border: 2px solid;}
table{border: 2px solid; max-width: 100%;}
.d{min-width: 3px;}
p{border: 2px dotted; max-width: 40%; border-radius: 10px;}
.q{border: 4px dashed; max-height: max-content; background-color: blueviolet;}
.e{border: 1px solid; max-height: 0cap; scrollbar-width: auto;}
img{border: 10px solid; max-width: 100px;}
.f{border: 2px solid; min-width: fit-content; max-height: fit-content;}
.card{min-height:fit-content ;

}

