.a{border: 2px solid;max-width: fit-content; margin: 0; padding: 10px; }
.hed{background-color: aliceblue;}
.mar{background-color: blueviolet; border: 2px solid; max-width: fit-content; min-height: fit-content;}
.hon{background-color: brown; max-width: fit-content; min-height: fit-content;}
.hyn{background-color: coral; max-width: fit-content; min-height: fit-content;}