div{margin: top; border: solid;}
p{margin: auto; border: dotted;}
h1{margin: bottom; border: double;}
.r{margin-top: 10px; border: solid;}
h2{margin-right: 20px; border: solid;}
h3{margin-bottom: 30px; border: dotted;}
h4{margin-left: 40px; border: double;}
.b{margin-right: auto; margin-left: auto; width: fit-content;}
.c{margin-bottom: 20px ; border: solid;}
.d{padding: 10px;}
.e{padding-top: 10px;}
.f{padding-right: 20px;}
.g{padding-bottom: 10px;}
.h{padding-left: 20px;}
button{padding: auto;}
.i li{padding-bottom:  10px;}
.j{padding: auto; border: solid; border-width: 30px; margin-left: 10px; background-color: blue; border-color: darkred;}
.k{box-sizing: content-box;}
.l{box-sizing: border-box;}
input{padding-top: 10px; box-sizing: border-box;}
.m{margin-left: auto; margin-right: auto; padding-top: 10px;}
.n{margin-bottom: 20px; border: solid; padding: 20px; }
.o{padding: 20px; margin-left: 20px;}
img{margin-left: 50px; padding: 50px;}
.p{box-sizing: border-box;}

